@import url(https://fonts.googleapis.com/css?family=Nunito);.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.img {
  width: 100%;
}

.col-1 {
  width: 102px;
  margin: 0 10px 0 10px;
}

.col-1:first-child {
  margin-left: 0px;
}

.col-1:last-child {
  margin-right: 0px;
}

.col-2 {
  width: 224px;
  margin: 0 10px 0 10px;
}

.col-2:first-child {
  margin-left: 0px;
}

.col-2:last-child {
  margin-right: 0px;
}

.col-3 {
  width: 346px;
  margin: 0 10px 0 10px;
}

.col-3:first-child {
  margin-left: 0px;
}

.col-3:last-child {
  margin-right: 0px;
}

.col-4 {
  width: 468px;
  margin: 0 10px 0 10px;
}

.col-4:first-child {
  margin-left: 0px;
}

.col-4:last-child {
  margin-right: 0px;
}

.col-5 {
  width: 590px;
  margin: 0 10px 0 10px;
}

.col-5:first-child {
  margin-left: 0px;
}

.col-5:last-child {
  margin-right: 0px;
}

.col-6 {
  width: 712px;
  margin: 0 10px 0 10px;
}

.col-6:first-child {
  margin-left: 0px;
}

.col-6:last-child {
  margin-right: 0px;
}

.col-7 {
  width: 834px;
  margin: 0 10px 0 10px;
}

.col-7:first-child {
  margin-left: 0px;
}

.col-7:last-child {
  margin-right: 0px;
}

.col-8 {
  width: 956px;
  margin: 0 10px 0 10px;
}

.col-8:first-child {
  margin-left: 0px;
}

.col-8:last-child {
  margin-right: 0px;
}

.col-9 {
  width: 1078px;
  margin: 0 10px 0 10px;
}

.col-9:first-child {
  margin-left: 0px;
}

.col-9:last-child {
  margin-right: 0px;
}

.col-10 {
  width: 1180px;
  margin: 0 20px 0 20px;
}

.bluetitle {
  font-weight: 500;
  color: #0066FF;
}

.btn {
  width: 224px;
  height: 51px;
  text-align: center;
  font-size: 15px;
  font-family: inherit;
  font-weight: bold;
}

.blue {
  border-color: #0066FF;
  background-color: #ffffff;
  color: #0066FF;
}

.blue:active {
  background-color: #0066FF;
  color: #ffffff;
}

.gray {
  background-color: #ffffff;
  color: #3d3d3d;
}

.gray:active {
  background-color: #3d3d3d;
  color: #ffffff;
}

.title1 {
  font-family: inherit;
  font-size: 20px;
  line-height: 1.45;
  font-weight: 500;
  font-family: inherit;
}

.content1 {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.67;
  color: #707070;
  font-family: inherit;
}

.bluebox {
  height: 248px;
  background-color: #0066FF;
}

.bluecontent {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  font-family: inherit;
}

.topimage {
  display: block;
  margin: 35px 35px 35px 50px;
  width: 130px;
  height: 70px;
}

.topnumber {
  width: 19px;
  height: 23px;
  margin: 10px 0px 0px 10px;
}

.needbot {
  display: block;
  position: relative;
  font-size: 27px;
  font-weight: bold;
  color: #3d3d3d;
  left: 10px;
  top: 50px;
}

