.contacttitle {
    font-weight: bold;
    font-size: 70px;
    margin: 0px auto;
    color: #ffffff;
}

.contactcontent {
    font-size: 35px;
    margin: 0px auto;
    color: #ffffff;
}

.contactneed {
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    color: #ffffff;
}

.contactinfo {
    font-size: 15px;
    text-align: left;
    color: #ffffff;
}

#googleMap {
    widows: 1920px;
    height: 1023px;
}

.g-recaptcha>div>div>iframe {
    width: 224px;
    height: 51px;
 }