.contacttitle {
    font-weight: bold;
    font-size: 70px;
    margin: 0px auto;
    color: #ffffff;
}

.contactcontent {
    font-size: 35px;
    margin: 0px auto;
    color: #ffffff;
}

.contactneed {
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    color: #ffffff;
}

.contactinfo {
    font-size: 15px;
    text-align: left;
    color: #ffffff;
}

#googleMap {
    widows: 1920px;
    height: 1023px;
}

.checkContainer {
    display: block;
    position: relative;
    top: 51px;
    width: 224px;
    height: 51px;
    font-size: 15px;
    color: #ffffff;
    border: #ffffff solid 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.checkContainer input {
    position: absolute;
    // opacity: 0;
    top: 14px;
    left: 14px;
    cursor: pointer;
    height: 23px;
    width: 23px;
}
  
// .checkmark {
//     position: absolute;
//     top: 14px;
//     left: 14px;
//     height: 23px;
//     width: 23px;
//     background-color: #ffffff;
//     cursor: pointer;
// }
  
.checkContainer input:checked ~ .checkmark {
    background-color: #0066ff;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.checkContainer input:checked ~ .checkmark:after {
    display: block;
}
  
.checkContainer .checkmark:after {
    left: 6px;
    top: 1px;
    width: 9px;
    height: 16px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    .checkContainer {
        background-color: #0066ff;
        border-color: #0066ff;
    }
}

